.homepage {
  max-width: var(--measure);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  position: relative;
}

.homepage__items {
  margin-top: 1rem;

  display: grid;
  gap: 1rem;
}



@media only screen and (min-width: 550px) {
  .homepage__items {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 700px) {
  .homepage__items {
    grid-template-columns: 1fr 1fr 1fr;
  }
}