.projects__list {
  display: grid;
  gap: 1rem;
}

@media only screen and (min-width: 650px) {
  .projects__list {
    padding: 0.5rem;
    gap: 1.25rem;
    grid-template-columns: 1fr 1fr;
  }

  .projects__listing {
    border-radius: 0.5rem;
  }
}

@media only screen and (min-width: 850px) {
  .projects__list {
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

}